
.button { 
    -fx-background-color: white; 
    -fx-text-fill: black;
}
.button:hover{
    -fx-translate-y: 1;
}
.text-field {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 10px;
}

.check-box:determinate .box{
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 3px;
}

.forgot:hover{
    -fx-translate-y: 1;
}
